<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>MyEShopMall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowAllMember</display-name>
    <servlet-name>ShowAllMember</servlet-name>
    <servlet-class>tw.com.eeit162.eshop.controller.ShowAllMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMember</servlet-name>
    <url-pattern>/ShowAllMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistMember</display-name>
    <servlet-name>RegistMember</servlet-name>
    <servlet-class>tw.com.eeit162.eshop.controller.RegistMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistMember</servlet-name>
    <url-pattern>/RegistMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUpdatePage</display-name>
    <servlet-name>GetUpdatePage</servlet-name>
    <servlet-class>tw.com.eeit162.eshop.controller.GetUpdatePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUpdatePage</servlet-name>
    <url-pattern>/GetUpdatePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMember</display-name>
    <servlet-name>UpdateMember</servlet-name>
    <servlet-class>tw.com.eeit162.eshop.controller.UpdateMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMember</servlet-name>
    <url-pattern>/UpdateMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>tw.com.eeit162.eshop.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
</web-app>